@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #000;
}

#app {
  width: 100vw;
  height: 100vh;
  background: #111;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

header {
  width: 90%;
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  padding: 1rem 0;
  border-bottom: 1px solid #fff;
}

header h2 {
  text-align: center;
  color: #fff;
  text-transform: capitalize;
  margin-top: 0.5rem;
}
header h2 span {
  color: #10a37f;
  text-shadow: 2px 1px 2px #000;
}

header img {
  max-width: 10rem;
  border-radius: 50%;
}

#chat-container {
  flex: 1;
  width: 100%;
  height: 100%;
  overflow-y: scroll;

  display: flex;
  flex-direction: column;
  gap: 10px;

  -ms-overflow-style: none;
  scrollbar-width: none;

  padding-bottom: 20px;
  scroll-behavior: smooth;
}

#chat-container::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

#chat-container::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}

#chat-container::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}

.wrapper {
  width: 100%;
  padding: 15px;
}

.bot {
  background: #1b1b1b;
}

.chat {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.profile {
  width: 36px;
  height: 36px;
  border-radius: 5px;

  background: #5436da;

  display: flex;
  justify-content: center;
  align-items: center;
}

.bot .profile {
  background: #10a37f;
}

.bot .message {
  font-family: 'Courier New', Courier, monospace;
}

.profile img {
  width: 60%;
  height: 60%;
  object-fit: contain;
}

.message {
  flex: 1;

  color: #dcdcdc;
  font-size: 16px;

  max-width: 100%;
  overflow-x: scroll;

  /*
   * white space refers to any spaces, tabs, or newline characters that are used to format the CSS code
   * specifies how white space within an element should be handled. It is similar to the "pre" value, which tells the browser to treat all white space as significant and to preserve it exactly as it appears in the source code.
   * The pre-wrap value allows the browser to wrap long lines of text onto multiple lines if necessary.
   * The default value for the white-space property in CSS is "normal". This tells the browser to collapse multiple white space characters into a single space, and to wrap text onto multiple lines as needed to fit within its container.
  */
  /* white-space: pre-wrap; */

  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* hides scrollbar */
.message::-webkit-scrollbar {
  display: none;
}

.message::first-letter {
  text-transform: uppercase;
}

form {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 10px;
  background: #000;
  border: 1px solid #fff;

  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 10px;
}

textarea {
  width: 100%;

  color: #fff;
  font-size: 14px;

  padding: 10px;
  background: transparent;
  border-radius: 5px;
  border: none;
  outline: none;
}

button {
  outline: 0;
  border: 0;
  cursor: pointer;
  background: transparent;
}

form img {
  width: 30px;
  height: 30px;
}
